{% for thread in threads %}
    <article class="card">
        {#        <a href="{{ thread.shortlink }}" class="episode-container">#}
        <div class="card-container" onclick="location.href='{{ thread.shortlink }}'">

            <div class="card-top-bar">
                <span>{{ thread.ordinal_date }}</span>
            </div>
            <div class="card-content">
                <h1>{{ thread.title }}</h1>
            </div>
            <div class="tag-container">
                {% for guru in thread.gurus %}
                    <a href="{{ guru.slug }}" class="card-tag">{{ guru.name }}</a>

                    {#                    <span class="ep-tag">{{ guru.name }}</span>#}
                {% endfor %}
            </div>
        </div>
        {#        </a>#}
    </article>

    {% if loop.last and more %}
        {% include 'infinite_scroll.html' with context %}
    {% endif %}

{% endfor %}