{% extends "base.html" %}

{% block content %}
    <div class="search-container">
        <div class="search">
            <form onsubmit="return false;">
                <div class="form-input">
                    <input type="hidden" name="search_kind" value="guru">
                    <input class="form-control" type="search"
                           name="search_str" placeholder="Filter By Guru..."
                           hx-post="{{ hx_get_route }}"
                           hx-trigger="input changed delay:1000ms, search"
                           hx-target="#search-results">
                </div>
            </form>
        </div>

        <div class="search">
            <form onsubmit="return false;">
                <div class="form-input">
                    <input type="hidden" name="search_kind" value="title">
                    <input class="form-control" type="search"
                           name="search_str" placeholder="Filter By Title..."
                           hx-post="{{ hx_get_route }}"
                           hx-trigger="input changed delay:1000ms, search"
                           hx-target="#search-results">
                </div>
            </form>
        </div>

    </div>

    <div id="search-results" class="cards"
         hx-get="{{ hx_get_route }}"
         hx-trigger="load" hx-target="this">
    </div>


{% endblock %}
