git+https://github.com/pawrequest/pawlogger
git+https://github.com/pawrequest/scrapaw@v0.2
sqlmodel
sqlalchemy
pydantic
asyncpraw
loguru
httpx
fastapi
aiohttp
pydantic-settings
python-multipart
jinja2
uvicorn[standard]