{% extends "base.html" %}

{% block content %}
    <article class="detail-page">
        {#        <div class="detail-heading">#}
        <h1 class="heading">{{ episode.title }}</h1>
        <div class="topbar">
            <span>{{ episode.ordinal_date }}</span>
            <span>{{ episode.number_str }}</span>
            <a class='play-btn' href='{{ episode.url }}'>Play on Captivate.fm</a>
        </div>
        {#        </div>#}

        {% if episode.notes %}
            <h3>Show Notes:</h3>
            {% for note in episode.notes %}
                <p>{{ note }}</p>
            {% endfor %}
        {% endif %}

        {% if episode.links %}
            <h3>Show Links:</h3>
            {% for text, link in episode.links.items() %}
                <a href="{{ link }}">{{ text }}</a><br>
            {% endfor %}
        {% endif %}

        {% if episode.gurus %}
            <h3>Featured Gurus</h3>
            {% for guru in episode.gurus %}
                <a href={{ guru.slug }}> {{ guru.name }}</a>
            {% endfor %}
        {% endif %}

        {% if episode.reddit_threads %}
            <h3>Related Reddit Threads</h3>
            {% for thread in episode.reddit_threads %}
                <a href="{{ thread.shortlink }}">{{ thread.title }}</a><br>
            {% endfor %}
        {% endif %}

    </article>
{% endblock %}
