{% for episode in episodes %}
    <article class="card">
        <a href="{{ episode.slug }}">
            <h1>{{ episode.title }}</h1>
            <div class="card-detail">
                {% if episode.notes %}
                    {% for note in episode.notes %}
                        <p>{{ note }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </a>
    </article>
    {% if loop.last %}
        {% include 'infinite_scroll.html' with context %}
    {% endif %}

{% endfor %}
