{% extends "base.html" %}

{% block content %}
    <article class="detail-page">
        <div class="topbar">
            <span>{{ episode.ordinal_date }}</span>
            <span>{{ episode.number_str }}</span>
            <a class='play-btn' href='{{ episode.url }}'>Play on Captivate.fm</a>
        </div>
        <h1>{{ episode.title }}</h1>
        {#        </div>#}

        {% if episode.gurus %}
            <h2>Related Gurus</h2>
            <div class="tag-container">
                {% for guru in episode.gurus %}
                    <a href="{{ guru.slug }}" class="detail-link">{{ guru.name }}</a>
                {% endfor %}
            </div>
        {% endif %}

{#    <div class="notes-html">#}
{#        {{ episode.show_notes_html | safe }}#}
{##}
{#    </div>#}

        {% if episode.notes %}
            <h2>Show Notes</h2>
            {% for note in episode.notes %}
                <p>{{ note }}</p>
            {% endfor %}
        {% endif %}

        {% if episode.links %}
            <h2>Show Links (in new tab)</h2>
            {#            <div class="tag-container">#}
            {% for text, link in episode.links.items() %}
                <a href="{{ link }}" class="detail-link"
                   target="__blank"
                >{{ text }}</a><br>
            {% endfor %}
            {#            </div>#}
        {% endif %}


        {% if episode.reddit_threads %}
            <h2>On the SubReddit:</h2>
            {#            <div class="tag-container">#}
            {% for thread in episode.reddit_threads %}
                <a href="{{ thread.shortlink }}" class="detail-link"
                   target="__blank">{{ thread.title }}</a><br>
            {% endfor %}
            {#            </div>#}
        {% endif %}

    </article>
{% endblock %}
