{% extends "base.html" %}

{% block content %}
    <h1 class="heading">Episodes</h1>
    <div class="search_wrapper">
        <div class="search">
            <p>Filter By Guru</p>
            <form>
                <div class="form-input">
                    <input type="hidden" name="search_kind" value="guru">
                    <input class="form-control" type="search"
                           name="search_str" placeholder="Begin Typing To Filter..."
                           hx-post="/eps/get/"
                           hx-trigger="input changed delay:500ms, search"
                           hx-target="#search-results">
                </div>
            </form>
        </div>

        <div class="search">
            <p>Filter By Title</p>
            <form>
                <div class="form-input">
                    <input type="hidden" name="search_kind" value="title">
                    <input class="form-control" type="search"
                           name="search_str" placeholder="Begin Typing To Filter..."
                           hx-post="/eps/get/"
                           hx-trigger="input changed delay:500ms, search"
                           hx-target="#search-results">
                </div>
            </form>
        </div>


        <div class="search">
            <p>Filter By Notes</p>
            <form>
                <div class="form-input">
                    <input type="hidden" name="search_kind" value="notes">
                    <input class="form-control" type="search"
                           name="search_str" placeholder="Begin Typing To Filter..."
                           hx-post="/eps/get/"
                           hx-trigger="input changed delay:500ms, search"
                           hx-target="#search-results">
                </div>
            </form>
        </div>

    </div>
    <div id="search-results" class="cards"
         hx-get="/eps/get/?limit={{ pagination.limit }}&offset={{ pagination.offset }}"
         hx-trigger="load" hx-target="this">

    </div>
    {% include 'paginate.html' with context %}


{% endblock %}
