{% for guru in gurus %}
    <article class="card guru-card">
        <div class="card-container guru-container" onclick="location.href='{{ guru.slug }}'">
            <h1 class="guru-card-title">{{ guru.name }}</h1>
            <div class="tag-container">
                <p class="card-tag">{{ guru.episodes|length }} episode mentions</p>
                <p class="card-tag">{{ guru.reddit_threads|length }} reddit mentions</p>
            </div>
        </div>
        {#    </a>#}
    </article>

    {% if loop.last and more %}
        {% include 'infinite_scroll.html' with context %}
    {% endif %}

{% endfor %}

