{% extends "base.html" %}

{% block content %}
    <article class="detail-page">
        <h1 id='guru-{{ guru.id }}'>{{ guru.name }}</h1>


        {% if guru.episodes %}
            <h3>Featured in Episodes</h3>
            {% for episode in guru.episodes %}
                <a href={{ episode.slug }}> {{ episode.title }}</a>
            {% endfor %}
        {% endif %}

        {% if guru.reddit_threads %}
            <h3>Related Reddit Threads</h3>
            {% for thread in guru.reddit_threads %}
                <a href="{{ thread.shortlink }}">{{ thread.title }}</a><br>
            {% endfor %}
        {% endif %}
        {#    </div>#}
    </article>
{% endblock %}
