<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episodes</title>
    <link href="{{ url_for('static', path='css/normal.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/card_style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/detail_style.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<header class="wrapper">
    <img src="{{ url_for('static', path='/img/dtg_logo_cut.png') }}" alt="">
    <h1>DECODING THE GURUS</h1>
    <nav>
        <ul>
            <li><a href="{{ URL_PREFIX }}/eps" class="{{ 'hlight' if request.path.startswith('/eps/') else '' }}">Episodes</a>
            </li>
            <li><a href="{{ URL_PREFIX }}/guru" class="{{ 'hlight' if request.path.startswith('/guru/') else '' }}">Gurus</a>
            </li>
            <li><a href="{{ URL_PREFIX }}/red" class="{{ 'hlight' if request.path.startswith('/red/') else '' }}">Reddits</a>
            </li>
        </ul>
    </nav>
</header>

{#<main>#}
{#    <div class="wrapper">#}
{#        {% block content %}{% endblock %}#}
{#    </div>#}
{#</main>#}


<main class="wrapper">
    {% block content %}{% endblock %}
</main>

<footer class="wrapper footer-wrapper">
        <div class="footer-container">
    <ul>
        <li>
            <span>dtg on:</span>
        </li>
        <li class="foot-item">
            <a href="https://www.patreon.com/DecodingTheGurus/posts"
               target="__blank">patreon</a>
        </li>
        <li class="foot-item">
            <a href="https://decoding-the-gurus.captivate.fm/"
               target="__blank">captivate</a>
        </li>
        <li class="foot-item">
            <a href="https://www.reddit.com/r/DecodingTheGurus/"
               target="__blank">reddit</a>
        </li>
    </ul>
        </div>
</footer>
</body>
</html>

