{#<div class="pagination">#}
{#    {% if pagination.offset > 0 %}#}
{#        <a href="/{{ route_url }}?offset={{ pagination.offset - pagination.limit }}"><h2>Previous</h2></a>#}
{#    {% endif %}#}
{#    <h2>page {{ pagination.offset // pagination.limit + 1 }}</h2>#}
{#    <a href="/{{ route_url }}?offset={{ pagination.offset + pagination.limit }}"><h2>Next</h2></a>#}
{#</div>#}

<div class="cards"
     hx-get="/{{ route_url }}/get/?offset={{ pagination.offset + pagination.limit }}&limit={{ pagination.limit }}" hx-trigger="revealed" hx-swap="beforeendend" hx-target="this">
</div>


{#{% if loop.last %}#}
{#    <div#}
{#    hx-get=""#}
{#    >#}
{#{% else %}#}
{#    <div>#}
{#{% endif %}#}
{#</div>#}